In [1]:
from marten.utils.softs import SOFTSPredictor
import pandas as pd
import numpy as np

In [2]:
seq_len = 5

In [3]:
# mock a dataframe with time series stock market data, and randomized NaN values (missing values). 
# the date column shall be the first column (not index)
# missing data shall be sporadic, not necesarrily entire row.


# Generate date range
dates = pd.date_range(start='2023-01-01', periods=100, freq='D')

# Generate random stock data
np.random.seed(42)
data = np.random.randn(100, 4) * 20 + 100

# Introduce NaN values randomly
nan_indices = np.random.choice(data.size, size=20, replace=False)
data.ravel()[nan_indices] = np.nan

# Create DataFrame
columns = ['Date', 'Open', 'High', 'Low', 'Close']
df = pd.DataFrame(data, columns=columns[1:])
df.insert(0, 'Date', dates)

df.head()

        Date        Open        High         Low       Close
0 2023-01-01  109.934283   97.234714  112.953771  130.460597
1 2023-01-02   95.316933   95.317261  131.584256  115.348695
2 2023-01-03   90.610512  110.851201   90.731646   90.685405
3 2023-01-04  104.839245   61.734395   65.501643         NaN
4 2023-01-05   79.743378  106.284947   81.839518   71.753926

In [4]:
df.isna().any().any()

True

In [5]:
t, v, s = SOFTSPredictor._prep_df(df, True, seq_len)

In [6]:
t

         Date      Open      High       Low     Close
0  2023-01-01  0.565978 -0.165056  0.644138  1.407917
1  2023-01-02 -0.288287 -0.265514  1.610087  0.669414
2  2023-01-03 -0.563339  0.548326 -0.508029 -0.535856
3  2023-01-04  0.268214 -2.024957 -1.816149  0.004211
4  2023-01-05 -1.198433  0.309095 -0.969066 -1.461018
..        ...       ...       ...       ...       ...
85 2023-03-27 -5.915799 -5.246969 -5.200517 -4.995714
86 2023-03-28 -5.891810 -5.247608 -5.291542 -5.038726
87 2023-03-29 -5.908710 -5.272064 -5.196972 -4.901032
88 2023-03-30 -5.801048 -5.269127 -5.214710  0.009693
89 2023-03-31  0.000731 -5.276193 -5.196337 -5.011012

[90 rows x 5 columns]

In [7]:
v

         Date      Open      High       Low     Close
85 2023-03-27 -5.915799 -5.246969 -5.200517 -4.995714
86 2023-03-28 -5.891810 -5.247608 -5.291542 -5.038726
87 2023-03-29 -5.908710 -5.272064 -5.196972 -4.901032
88 2023-03-30 -5.801048 -5.269127 -5.214710  0.004211
89 2023-03-31 -0.001172 -5.276193 -5.196337 -5.011012
90 2023-04-01  0.592431  1.585857 -0.140265  0.311963
91 2023-04-02  0.792065 -0.440588  0.204888  0.010178
92 2023-04-03  0.099567 -0.830157 -0.002070  0.406072
93 2023-04-04  1.681549  0.984965  2.205268 -0.830651
94 2023-04-05  1.005000  0.171930  2.243242 -0.870675
95 2023-04-06 -0.996097 -0.648237 -2.229871 -0.594524
96 2023-04-07 -0.901902  0.137406  0.326900  1.753069
97 2023-04-08  1.096290 -0.624672 -0.959102  0.400130
98 2023-04-09 -1.557736  1.898862  1.195541  0.009568
99 2023-04-10 -2.016973  1.398437 -0.146259  1.129155

In [8]:
t.isna().any().any()

False

In [9]:
v.isna().any().any()

False